<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @payment.owner.name %>
</p>
<p>
  <strong>Project:</strong>
  <%= @payment.project.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Method:</strong>
  <%= @payment.method %>
</p>

<p

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %> | 
<%= link_to 'Delete', @payment, method: :delete, data: { confirm: 'Are you sure?' } %>
